{% extends 'blog/base2.html' %}
{% block titulo%} About {% endblock %}
{% block contenido %}
    <h1> About </h1>
    We are a group of three students from CoderHouse Argentina, responsible 
    to develop this blog as part of the final project of a Python training course. 
    Our names are Tomás García, Gerónimo Benedetti and Leandro Perversi.  
    The goal of this blog is to be used internally by a travel agency or similar 
    to share among employees client reviews and experiences. 
    Employees should register to build a centralized database of client's trips 
    around the world, to serve as inspiration to potential customers and 
    encourage them to explore what’s out there. 
    We aim this blog to be used by a number of agencies to support their activities
    and create an internal network to improve user experience.
{% endblock %}